/* =Global
-----------------------------------------------*/
body,input,textarea,article {
	color: #1d1d1d;
	font: 14px Helvetica, sans-serif;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
}
body {
	border-top: 6px solid #57ad68;
}
hr {
	border-color: #eaeaea;
	border-style: solid none none;
	border-width: 1px 0 0;
	height: 0;
	margin: 0 0 40px;
}
.wrapper {
/*	max-width: 1018px; */
	margin: 0 auto;
	background-color: #f8f8f8;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.container {
	margin: 0 auto;
	max-width: 90% ;/* max-width: 978px; */
}

/* Headings
-----------------------------------------------*/
h1 {
	font-size: 30px;
	line-height: 36px;
}
h2 {
	font-size: 28px;
	line-height: 55px;
}
h3 {
	font-size: 26px;
	line-height: 32px;
}
h4 {
	font-size: 24px;
	line-height: 30px;
}
h5 {
	font-size: 22px;
	line-height: 28px;
}
h6 {
	font-size: 19px;
	line-height: 25px;
}
/* Links */
a {
	color: #57ad68;
	text-decoration: none;
}
.entry-content a {
	text-decoration: underline;
}
a:focus,a:active,a:hover {
	color: #439f55;
	text-decoration: none;
}
/* clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* commented backslash */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* Back to Top */
.back-to-top {
	position: fixed;
	bottom: 10px;
	right: 18px;
}
.back-to-top a:before {
	content: '\f432';
}
.back-to-top a {
	padding: 8px 6px 8px 11px;
	display: block;
	background: #fff;
	color: #eaeaea;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.back-to-top a:hover {
	color: #bdbdbd;
}
/* =Header
-----------------------------------------------*/
#branding {
	margin-top: 15px;
}
.hgroup-wrap {
	padding-top: 15px;
	padding-bottom: 35px;
}
.hgroup-wrap a {
	display: block;
}
#site-logo {
	float: left;
	margin-top: 32px;
}
#site-title {
	font: 36px 'Ubuntu', sans-serif;
	line-height: 42px;
}
#site-title a {
	color: #57ad68;
	letter-spacing: -2px;
}
#site-title a img {
	vertical-align: inherit;
	max-width: 978px;
}
#site-title a span,#site-title a:hover,#site-title a:focus,#site-title a:active {
	color: #439f55;
}
#site-description {
	font: 14px helvetica, sans-serif;
	line-height: 20px;
	color: #999;
	font-weight: 200;
}
.hgroup-right {
	float: right;
	margin-top: 38px;
}
/* =Footer
-----------------------------------------------*/
#footerarea {
	margin-bottom: 10px;
}
#footerarea form input,#footerarea form textarea,#footerarea .widget {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#footerarea .widget-wrap {
	border-top: 1px solid #eaeaea;
	padding: 0 2.5%;
}
#footerarea .widget-area {
	padding: 40px 0;
}
#footerarea .widget {
	padding-left: 15px;
	padding-right: 15px;
}
#footerarea .col-3 {
	width: 31.6%;
	float: left;
	margin-left: 2.5%;
}
#footerarea .col-3:first-child {
    margin-left: 0;
}
#footerarea .widget {
	width: 100%;
}
#footerarea .widget_archive,#footerarea .widget_pages,#footerarea .widget_nav_menu,#footerarea .widget_recent_entries,#footerarea .widget_categories,#footerarea .widget_recent_comments,#footerarea .widget_meta,#footerarea .widget_rss {
	margin-bottom: 22px;
}
#footerarea .widget_archive ul li,#footerarea .widget_pages ul li,#footerarea .widget_nav_menu ul li,#footerarea .widget_recent_entries ul li,#footerarea .widget_categories ul li,#footerarea .widget_recent_comments ul li,#footerarea .widget_meta ul li,#footerarea .widget_rss ul li {
	padding-bottom: 8px;
}
#footerarea .widget-title {
	font-size: 19px;
	text-transform: uppercase;
	line-height: 25px;
}
#footerarea .widget_article {
	margin-bottom: 10px;
}
#footerarea .widget_info,#footerarea .widget_text {
	margin-bottom: 15px;
}
/* Site Generator */
#site-generator {
	padding: 20px 0px;
	border-top: 2px solid #eaeaea;
	color: #999;
}
#site-generator .copyright {
	float: left;
	padding-top: 5px;
	font-size: 12px;
}
.footer-right {
  padding-top: 5px;
  float: right;
  font-size: 12px;
}
#site-generator .copyright a {
	color: #777;
}
#site-generator .copyright a:hover {
	color: #439f55;
}
/* Custom implementations */
.attachment-featured.wp-post-image {
	-webkit-transition: all .5s ease;
		 -moz-transition: all .5s ease;
			-ms-transition: all .5s ease;
			 -o-transition: all .5s ease;
					transition: all .5s ease;
}
.attachment-featured.wp-post-image:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}
article {
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.medium-wrap article {
	padding: 0;
}
.medium-wrap {
	padding: 0 2.5%;
}
#main {
	padding: 20px 2.5%;
}

/* =Responsive Structure
-----------------------------------------------*/
/* All Tablet Portrait size smaller than standard 1079 (devices and browsers) */
@media only screen and (max-width: 1078px) {
	.wrapper {
		width: 95%;
	}
	#site-title a img {
		max-width: 668px;
	}
	.no-sidebar-template #content {
		margin: 0;
		width: 100%;
	}
	#site-logo {
		margin-left: 20px;
	}
	.page-title {
		padding-left: 30px;
	}
	/* Column */
	.column {
		margin-left: -2.99%;
	}
	.one-half,.one-third,.one-fourth {
		margin: 0 0 0 2.90%;
	}
	.one-third,.one-fourth {
		width: 30.43%;
	}
	.widget_service .one-third,.widget_service .one-fourth {
		width: 47.02%;
	}
	#footerarea .widget_info,#footerarea .widget_text {
		margin-bottom: 30px;
	}
}

/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media only screen and (max-width: 767px) {
	hr {
		margin-bottom: 30px;
	}
	input[type="text"],input[type="password"],textarea,input[type="reset"],input[type="button"],input[type="submit"] {
		margin-bottom: 20px;
	}
	input.s {
		margin: 0;
	}
	input.s:focus {
		width: 235px;
	}
	#primary,
	#secondary,
	#content-woocommerce,
	#footerarea .col-3  {
		float: none;
		margin-left: 0;
		width: auto;
	}
	.left-sidebar-template #primary,
	.left-sidebar-template #content-woocommerce {
		float: none;
	}
	.featured-title,.featured-content,.featured-text {
		display: none;
	}
	.one-column-template .container,.container {
		width: auto;
	}
	.comments-title,#respond h3#reply-title {
		font-size: 26px;
		line-height: 32px;
	}
	/*
	#content h1,#content h2,#content h3,#content h4,#content h5,#content h6 {
		padding-bottom: 10px;
	}
	*/
	#branding {
		margin-top: 15px;
	}
	.hgroup-wrap {
		padding-bottom: 25px;
		padding-top: 0;
	}
	.hgroup-right {
		margin-top: 32px;
	}
	.hgroup-right .social-icons {
		display: none;
	}
	#site-logo {
		margin-top: 25px;
	}
	#site-title a img {
		max-width: 280px;
	}
	#main-nav {
		height: 36px;
		padding: 13px 0 0;
	}
	#main-nav ul {
		display: none;
	}
	#main-nav select {
		display: block;
		width: 100%;
		border: none;
		font: 14px 'Ubuntu', sans-serif;
		color: #555;
		height: 24px;
	}
	.page-title-wrap {
		padding: 10px 0;
	}
	.breadcrumb {
		margin-top: 0px;
		float: none;
		text-align: left;
	}
	#main {
		padding-top: 40px;
	}
	.post-featured-image {
		margin-bottom: 5px;
	}
	.entry-content {
		padding-bottom: 0px;
	}
	/* Column */
	.column {
		margin-left: 0;
	}
	.one-half,.one-third,.one-fourth,.widget_service .one-half,.widget_service .one-third,.widget_service .one-fourth {
		margin: 0;
		padding-bottom: 10px;
		width: 100%;
	}
	#content .post {
		padding-bottom: 30px;
	}
	#primary {
		max-width: 100%;
	}
	.widget_search input.s,.widget_search input.s:focus {
		width: 100%;
	}
	#wp_page_numbers,.wp-pagenavi,#content ul.default-wp-page,.pagination {
		margin-bottom: 30px;
	}
	#wp_page_numbers ul li.page_info,.wp-pagenavi .pages {
		display: none;
	}
	.wp-caption {
		margin-bottom: 15px;
	}
	.widget {
		margin-bottom: 30px;
	}
	.widget_custom-tagcloud {
		margin-bottom: 22px;
	}
	.widget_article {
		margin-bottom: 10px;
	}
	.widget_service {
		margin-bottom: 0;
	}
	.widget_recent_work {
		margin-bottom: 10px;
	}
	.widget_testimonial .testimonial-icon {
		float: none;
		margin-bottom: 15px;
	}
	#site-generator .social-icons,#site-generator .copyright {
		float: none;
		width: 100%;
	}
	#site-generator .social-icons ul {
		text-align: center;
		float: none;
	}
	#site-generator .social-icons ul li {
		display: inline-block;
		float: none;
	}
	#site-generator .copyright {
		padding-top: 10px;
		text-align: center;
	}
	.footer-right {
		text-align: center;
		float: none;
	}
}

/* All Mobile landscape size and All Mini Tablet Portrait size smaller than standard 768 and larger than 480 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	input.s:focus {
		width: 375px;
	}
	.hgroup-wrap {
		padding-bottom: 30px;
	}
	.hgroup-right {
		margin-top: 37px;
	}
	#site-logo {
		margin-top: 30px;
	}
	#site-title a img {
		max-width: 420px;
	}
	.widget_service .column {
		margin-left: 0;
	}
	#footerarea {
		margin-bottom: 10px;
	}
}
/* All Mobile size smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 319px) {
	.one-column-template .wrapper,.wrapper,.one-column-template .container,.container {
		width: 95%;
	}
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
