/* Agenda */
#agenda {
    width: 100%;
    border: 2px solid green;
    border-radius: 2px;
    background-color: #5eb75b;
    color: white; 
    font-size: 20px;
    font-weight: 700;
}
#agenda thead tr td h2 {
    margin: 0;
    color: white; 
}
#agenda tbody tr {
    height: 150px;
    background-color: #81d742;
    opacity: 0.7;
}
#agenda tbody tr td {
    width: 150px;
    border: 1px solid black;
    vertical-align: top;
    border-radius: 3px;
}
#agenda tbody tr td p {
    height: 25px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#agenda tbody tr td p:nth-child(3) {
    background-color: lightgreen;
    color: white;
}
#agenda tbody tr td p:nth-child(2) {
    background-color: white;
    color: green;
}
#agenda tbody tr td p:nth-child(5) {
    background-color: lightgreen;
    color: white;
}
#agenda tbody tr td p:nth-child(4) {
    background-color: white;
    color: green;
}