#sitegoalsobjectives {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    background-color: lightgreen;
}
.goals {
    display: inline-block;
    width: 430px;
    height: 300px;
    margin: 100px;
    vertical-align: top;
    font-family: serif;
}
.goals img {
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    border-radius: 3px;
}
.goals h4 {
    text-align: center;
    font-size: 2.0em;
    margin-block-start: 1.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.goals p {
    text-align: justify;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 17px;
}